# `1050_Actors and Directors Who Cooperated At Least Three Times`

In [ ]:
SELECT
    actor_id, director_id
FROM ActorDirector
GROUP BY actor_id, director_id
HAVING COUNT(*) >= 3