# `1068_Product Sales Analysis I`

In [ ]:
-- Write your MySQL query statement below
SELECT
    product_name,
    year,
    price
FROM Sales s
LEFT JOIN Product p ON s.product_id = p.product_id

In [ ]:
-- Write your PostgreSQL query statement below
SELECT
    product_name,
    year,
    price
FROM Sales s
LEFT JOIN Product p ON s.product_id = p.product_id

In [ ]:
import pandas as pd

def sales_analysis(sales: pd.DataFrame, product: pd.DataFrame) -> pd.DataFrame:
    name_map = product.set_index("product_id")["product_name"]
    return sales.assign(product_name=sales["product_id"].map(name_map))[["product_name", "year", "price"]]