# `1148_Article Views I`

In [ ]:
-- Write your MySQL query statement below
SELECT
    author_id AS id
FROM Views
WHERE author_id = viewer_id
GROUP BY author_id
ORDER BY id

In [ ]:
-- Write your PostgreSQL query statement below
SELECT
    author_id AS id
FROM Views
WHERE author_id = viewer_id
GROUP BY author_id
ORDER BY id

In [ ]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    mask = views['author_id'] == views['viewer_id']
    df = views[mask][['author_id']].drop_duplicates()
    return df.sort_values(by='author_id').rename(columns={'author_id': 'id'})