# `1683_Invalid Tweets`

In [ ]:
-- Write your MySQL query statement below
SELECT
    tweet_id
FROM Tweets
WHERE CHAR_LENGTH(content) > 15

In [ ]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    invalid = tweets[tweets['content'].str.len() > 15]
    
    return invalid[['tweet_id']]