# `176_Second Highest Salary`

In [ ]:
WITH cte AS (
    SELECT
        salary,
        DENSE_RANK() OVER (ORDER BY salary DESC) AS salary_rank
    FROM Employee 
)
SELECT 
    MAX(case when salary_rank=2 then salary else null end) AS SecondHighestSalary 
FROM cte
LIMIT 1