# `1873_Calculate Special Bonus`

In [ ]:
SELECT
    employee_id,
    CASE
        WHEN MOD(employee_id, 2) = 1 AND name NOT LIKE 'M%' THEN salary
        ELSE 0
    END AS bonus
FROM Employees
ORDER BY employee_id;

In [ ]:
SELECT
    employee_id,
    COALESCE((SELECT salary
              FROM Employees e2
              WHERE MOD(employee_id, 2) = 1
                AND name NOT LIKE 'M%'
                AND e1.employee_id = e2.employee_id), 0) AS bonus
FROM Employees e1
ORDER BY employee_id;