# `627_Swap Sex of Employees`

In [ ]:
-- Write your MySQL query statement below
update salary set sex=if(sex='f','m','f')

In [ ]:
-- Write your PostgreSQL query statement below
UPDATE Salary
SET sex = CASE
            WHEN sex = 'm' THEN 'f'
            ELSE 'm'
          END;

In [ ]:
import pandas as pd

def swap_salary(salary: pd.DataFrame) -> pd.DataFrame:
    salary["sex"] = salary["sex"].map({"m": "f", "f": "m"})
    return salary