In [2]:
# 10807 "개수 세기"

n = int(input())
l = list(map(int, input().split()))
v = int(input())

print(l[:n + 1].count(v))

3

In [ ]:
# 10871 "X보다 작은 수"

n, x = map(int, input().split())
l = list(map(int, input().split()))

print(*[i for i in l if i < x ])

1 4 2 3

In [11]:
# 10818 "최소, 최대"

n = int(input())
l = list(map(int, input().split()))

print(min(l[:n + 1]), max(l[:n + 1]))

7 35

In [ ]:
# 2562 "최댓값"

l = []

for _ in range(9):
    n = int(input())
    l.append(n)

print(max(l))
print(l.index(max(l)) + 1)

85
8

In [15]:
# 10810 "공 넣기"

n, m = map(int, input().split())
basket = [0 for _ in range(n)]

for _ in range(m):
    i, j, k = map(int, input().split())
    basket[i - 1: j] = [k] * (j + 1 - i)

print(*basket)

1 2 1 1 0

In [3]:
# 10813 "공 바꾸기"

n, m = map(int, input().split())
basket = list(range(1, n + 1))

for _ in range(m):
    i, j = map(int, input().split())
    tmp = basket[i - 1]
    basket[i - 1] = basket[j - 1]
    basket[j - 1] = tmp

print(*basket)

3 1 4 2 5

In [ ]:
# 5597 "과제 안 내신 분..?"

import sys

n = set(range(1, 31))
s = set()

for _ in range(28):
    s.add(int(sys.stdin.readline()))

a = n ^ s
print(min(a))
print(max(a))

In [ ]:
# 3052 "나머지"b

r = set()

for i in range(10):
    n = int(input())
    r.add(n % 42)

print(len(r))

6

In [ ]:
# 10811 "바구니 뒤집기"

n, m = map(int, input().split())
basket = list(range(1, n + 1))

for _ in range(m):
    i, j = map(int, input().split())
    basket[i - 1: None if j == n else j] = basket[j - 1: None if i == 1 else i - 1: -1]
    print(basket)

[2, 1, 3, 4, 5]
[2, 1, 4, 5]
[5, 4, 1, 2]
[5, 1, 2]

In [34]:
b = [2, 1, 3, 4, 5]
b[2:5] = b[5:1:-1]
b

[2, 1, 5, 4, 3]

In [7]:
# 1546 "평균"

n = int(input())
s = list(map(int, input().split()))
m = max(s)
total = 0

for i in s:
    total += i / m * 100
    
print(total / n)

100.0